/build/
build/
chinasuv-self/build/
/chinasuv-self/build/

/target/
target/
chinasuv-self/target/
/chinasuv-self/target/

/.classpath
.classpath
chinasuv-self/.classpath
/chinasuv-self/.classpath

/WebContent/WEB-INF/classes/
WebContent/WEB-INF/classes/
chinasuv-self/WebContent/WEB-INF/classes/
/chinasuv-self/WebContent/WEB-INF/classes/

/bin/
bin/
chinasuv-self/bin/
/chinasuv-self/bin/

/.settings/
.settings/
chinasuv-self/.settings/
/chinasuv-self/.settings/
