<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd"
	default-lazy-init="false">
	<!-- spring 启动时扫描包 -->
	<context:component-scan base-package="cn.chinasuv" use-default-filters="true" />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:properties/database.properties</value>
			</list>
		</property>
	</bean>

	<!-- 数据源定义 -->
	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
		<property name="poolProperties">
			<bean class="org.apache.tomcat.jdbc.pool.PoolProperties">
				<property name="driverClassName" value="${database.driver}"/>
				<property name="url" value="${database.hostM.url}"/>
				<property name="username" value="${database.hostM.username}"/>
				<property name="password" value="${database.hostM.password}"/>
				<property name="jmxEnabled" value="true"/>
				<property name="testWhileIdle" value="true"/>
				<property name="testOnBorrow" value="true"/>
				<property name="testOnReturn" value="false"/>
				<property name="validationInterval" value="30000"/>
				<property name="validationQuery" value="SELECT 1"/>
				<property name="timeBetweenEvictionRunsMillis" value="30000"/>
				<property name="maxActive" value="100"/>
				<property name="initialSize" value="10"/>
				<property name="maxWait" value="10000"/>
				<property name="minEvictableIdleTimeMillis" value="30000"/>
				<property name="minIdle" value="10"/>
				<property name="logAbandoned" value="false"/>
				<property name="removeAbandoned" value="true"/>
				<property name="removeAbandonedTimeout" value="60"/>
				<property name="jdbcInterceptors" value="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"/>
			</bean>
		</property>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager"></tx:annotation-driven>
</beans> 